spacy~=3.6.1
argostranslate~=1.8.1
googletrans~=3.0.0
pandas~=2.1.1
plotly~=5.18.0
matplotlib~=3.8.0
holoviews~=1.17.1
seaborn~=0.13.0
setuptools~=65.5.1
ctranslate2~=2.24.0
sentencepiece~=0.1.99
stanza~=1.1.1